---
import Header from "../comp/header2.astro"
import Footer from "../comp/footer.astro"
import "../css/main.css"
import Boks from "../comp/boks.astro" 
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/img/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crossboks</title>
	</head>

	<body>
		<div class="header_flex">
<header>
     <Header />	
</header>
</div> 

<main>
	<div class="placeholder_hero">
		<img src="/public/img/sticker-stor-smiley.jpg" alt="" class="placeholder_hero">
	</div>
	
	<h1>fællesskab</h1>

        <div class="boks_flex">
			<div>
			 <Boks header="Trænings lokationer" text1="I CrossBoks laver vi ikke kun udendørstræning." text2="Vi bygger også fællesskab, fordi vi ved at et godt fællesskab gør det meget nemmere at fastholde de gode vaner."/>
			</div>
 
			 <div>
				 <Boks header="Crossboks" text1="Vores fællesskab har skabt nye venskaber på kryds og tværs, som hepper og motiverer hindanden." 
				 text2=" I CrossBoks er der altid plads til glæde og grin, så det gør det sjovt at komme til træning."/>
			 </div>
 
			 <div>
				 <Boks header="Medlemsskab" text1="Vi deltager i løb og arrangementer, holder fester, afholder selv løb og events, fejrer og hylder hinanden og er egentligt bare gode til at hygge os og have det sjovt." text2="CrossBoks er blevet til meget mere end kun træning."/>
			 </div>
		 </div>
		<div>
			<h2>Billeder fra CrossBoks</h2>
			<!-- embeded instagram codes  -->
		</div>
</main>

<footer>
 <Footer />
</footer>

</body>
</html>

