---
import Header from "../comp/header.astro"
import Boks from "../comp/boks.astro"
import Footer from "../comp/footer.astro"
import "../css/main.css"
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crosbboks</title>
	</head>

	<body>
<header>
     <Header />	
</header>

<main>
         <div>
<!--video hero her med nav på postion absolut-->
        </div>

        <div>

           <div>
			<Boks />
		   </div>

            <div>
				<Boks />
            </div>

            <div>
				<Boks />
            </div>

            <div>
				<Boks />
            </div>

        </div>
</main>

<footer>
 <Footer />
</footer>

</body>
</html>
