---
import Header from "../comp/header2.astro"
import Boks from "../comp/boks.astro"
import Footer from "../comp/footer.astro"
import "../css/main.css"
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crosbboks</title>
		<link rel="stylesheet" href="stylesheet.css">
	</head>

	<body>
<header>
     <Header />	
</header>

<main>
	<div class="placeholder_hero">
		<img src="/public/img/sticker-stor-smiley.jpg" alt="" class="placeholder_hero">
        
<!-- tilmeldingssystem embeded ELLER direct linking -->

</main>

<footer>
 <Footer />
</footer>

</body>
</html>
	</body>
</html>
