---
const header = Astro.props.header;
const text1 = Astro.props.text1;
const text2 = Astro.props.text2;
const text3 = Astro.props.text3;
---

<div class="boks">
    <h2>{header}</h2>
    <p>
        {text1}
    </p>
    <p>
        {text2}
    </p>
    <p>
        {text3}
    </p>
</div>

