<div class="boks">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur quasi sit hic nisi, dolorum possimus! A omnis tempore sequi accusantium nesciunt nam tenetur numquam quia. Nulla similique nostrum molestias!</p>
</div>