<div class="footer">
<div class="footer_item">
    <p>CrossBoks I/S</p>
    <p>Susåvej 43, 4100 Ringsted</p>
</div>

<div class="footer_item">
    <p>Crossboks@crossboks.com</p>
    <p>Tlf. 52509731</p>
    <p>CVR: 42073091</p>
</div>

<div>
    <figure>
        <a href="https://www.facebook.com/crossboks.sjaelland"></a><img src="/public/img/Facebook_Logo_Secondary.png" alt="Facebook"></a >
   </figure>
</div>

<div>
    <figure>
        <a href="https://www.instagram.com/cross.boks"></a><img src="/public/img/Instagram_Glyph_White.png" alt="Instagram"></a >
   </figure>
</div>


</div>

<style>
    p {
        color: aliceblue;
    }
</style>
