<div class="footer">
<div class="footer_item">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione debitis vitae, provident nobis eligendi veniam sit recusandae perspiciatis incidunt? Reprehenderit totam debitis nesciunt ducimus nulla ratione nam aut quod quas.</p>
</div>

<div class="footer_item">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione debitis vitae, provident nobis eligendi veniam sit recusandae perspiciatis incidunt? Reprehenderit totam debitis nesciunt ducimus nulla ratione nam aut quod quas.</p></div>

<div class="footer_item">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione debitis vitae, provident nobis eligendi veniam sit recusandae perspiciatis incidunt? Reprehenderit totam debitis nesciunt ducimus nulla ratione nam aut quod quas.</p></div>

<div class="footer_item">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione debitis vitae, provident nobis eligendi veniam sit recusandae perspiciatis incidunt? Reprehenderit totam debitis nesciunt ducimus nulla ratione nam aut quod quas.</p></div>

</div>
