<nav class="header">
    <div class="menu_items">
        <li>
            <a href="/pages/comunity.astro">
            Fælleskab</a>
        </li>
    </div>

    <div class="menu_items">
        <li>
            <a href="/pages/teams.astro">
                Holdplaner</a>
        </li>
    </div>

    <div>
        <li>
            <figure>
                 <a href="../pages/index.astro"></a><img src="/public/img/sticker-stor-smiley.jpg" alt="Crossboks logo"></a >
            </figure>
         </li>
    </div>

    <div class="menu_items">
        <li>
            <a href="/pages/priser.astro">
                Priser</a>
    </li>
    </div>

    <div class="menu_items">
        <li>
            <a href="/pages/tilmelding.astro">
                Tilmelding</a>
        </li>
    </div> 
</nav>
